<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:tx="http://www.springframework.org/schema/tx"  
        xmlns:context="http://www.springframework.org/schema/context"  
        xsi:schemaLocation="   
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd">  
            
    <!-- 添加注解支持 -->
    <!-- <context:component-scan base-package="cn.smbms.dao"></context:component-scan> -->
    <context:component-scan base-package="cn.appsys.service"></context:component-scan>
   
   <!-- 加载配置文件 -->
   <context:property-placeholder location="classpath:database.properties"/>
   
   <!-- 设置数据源 -->
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   	<property name="driverClassName" value="${driver}"></property>
   	<property name="url" value="${url}"></property>
   	<property name="username" value="${user}"></property>
   	<property name="password" value="${password}"></property>
   </bean>
   
    <!-- 设置工厂函数 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>
    
    <!-- 设置注入映射器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="cn.appsys.dao"></property>
    </bean>
    
    <!--  全局异常处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
			  <!-- 
			  key: 自定义异常类
			  error: 逻辑视图名 
			  -->
				<prop key="java.lang.RuntimeException">error</prop>
			</props>
		</property>
	</bean>
</beans>