<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       	
     <context:component-scan base-package="cn.appsys.controller"></context:component-scan>  	
       	
     <!-- 
     	显示静态资源 
     	当用户请求  /statics/**下的所有的内容时，直接映射到本地的 /statics 文件夹下
     -->
    <mvc:annotation-driven></mvc:annotation-driven>
     <mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
       	
	<!-- 完成视图的对应 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
 
 
 	<!-- 配置MultipartResolvr，用于上传文件，使用Sprng的CommonsMultipartResolver -->
 	<bean id="multipartResolver"
 	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 	<!-- 上传文件大小上限，单位为字节 -->
 	<property name="maxUploadSize" value="5000000"/>
 	
 	<!-- 请求的编码格式 -->
 	<property name="defaultEncoding" value="UTF-8"></property>
 	</bean>
 	
 
 <!-- 配置多视图解析器：允许同样的内容数据呈现不同的view -->
<!-- 	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="favorParameter" value="true"/>
		<property name="defaultContentType" value="text/html"/>
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=UTF-8"/>
				<entry key="json" value="application/json;charset=UTF-8"/>
				<entry key="xml" value="application/xml;charset=UTF-8"/>
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
					<property name="prefix" value="/WEB-INF/jsp/"/>
					<property name="suffix" value=".jsp"/>
				</bean>		
			</list>
		</property>
	</bean> -->
</beans>   